body {
    background-color: black;
}

@keyframes gradient {
    0% {
        background: linear-gradient(45deg, red, green);
    }

    100% {
        background: linear-gradient(45deg, red, blue);
    }
}

.text-gradient {
    background-color: green;
    background-size: 100%;
    background-clip: text;
    background-attachment: fixed;
    background-size: 100vw;

    animation-name: gradient;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#gradient {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    font-size: 30px;
    background: linear-gradient(130deg, #ff7e00, #ffffff, #5cff00);
    background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes background-animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@-moz-keyframes background-animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}

@keyframes background-animation {
    0% {
        background-position: 10% 0%
    }

    50% {
        background-position: 91% 100%
    }

    100% {
        background-position: 10% 0%
    }
}