:root {
    --background: #2E333F;
    --background-light: #4D5668;
    --text-primary: #E4EAF1;
    --text-light: rgb(162, 168, 181);
    --text-dark: #070d1d;
    --text-title: #ff717b;
    --text-subtitle: #EACB8A;
    --text-positive: #8aea9c;
}

@font-face {
    font-family: "roboto";
    src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "roboto-bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "sono";
    src: url(assets/fonts/Sono-Regular.woff2);
}

@font-face {
    font-family: "yesevaOne";
    src: url(assets/fonts/YesevaOne-Regular.ttf);
}

body,
html {
    background-color: var(--background);
    margin: 0;
}

b {
    font-family: "roboto-bold";
}

p.body {
    text-indent: 50px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3em;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    color: var(--text-title);
    font-family: "sono";
}

h2,
h3 {
    padding-top: 15px;
    color: var(--text-subtitle);
    font-family: "sono";
}

h2 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 3em;
}

a:link {
    color: #baddf0;
}

a:visited {
    color: #8bb2d9;
}

a:hover {
    color: #afcbe6;
}

a:active {
    color: #ffffff;
}

.article {
    font-family: "roboto";
    color: var(--text-primary);
    background-color: var(--background);

    margin: auto;
    padding: 16px;
    max-width: 700px;
    width: calc(100% - 32px);
    font-size: 1rem;
}

.text-light {
    color: var(--text-light);
}

.text-dark {
    color: var(--text-dark);
}

.title {
    position: sticky;
    bottom: 0;
    padding-bottom: 15px;
    background-color: var(--background);
}

.projects {
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 25px;
}

.project-row {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin: 0;
}

.project-box {
    min-width: 200px;
    height: 300px;
    border-radius: 8px;
    /* padding: 15px; */
    margin: 5px;
    background-color: var(--background-light);
    position: relative;
    flex-grow: 1;
    flex-basis: min-content;
    object-fit: cover;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    color: white;
}

.large-project-box {
    height: 50vh;
}

.project-image {
    position: absolute;
    min-height: 100%;
    /* min-width: 100%; */
    width: 100%;
    top: 0;
    left: 0;
    /* transform: translateX(-25%); */
    object-fit: cover;
}

.project-box-title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 0.5em;
    font-size: 1rem;
    font-weight: 900;
    text-shadow: 0px 0px 1em var(--text-dark);
    color: white;
    background-color: var(--background-light);
    /* background-color: rgba(162, 168, 181, 0.75); */
    /* background-color: rgba(46, 51, 63, 1); */
    border-radius: 0px 8px 0px 0px;
}

.project-box-title.text-dark {
    /* text-shadow: 0px 0px 1em var(--text-light); */
    /* color: var(--text-dark); */
}

.tool-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 15px;
}

.tool {
    margin: 20px;
    justify-content: center;
    max-width: 100px;
    width: 10%;

    img {
        width: 100%;
    }

    p {
        text-align: center;
        font-family: "sono";
    }
}

.contact-me {
    h2 {
        color: var(--text-positive);
    }
}

.credits {
    margin-top: 50px;
    color: var(--text-light);
}

@media screen and (max-width: 720px) {
    /* body {
        margin: none;
    }

    h1,
    h2 {
        font-size: 2rem;
    }

    .project-row {
        flex-flow: column wrap;
    } */

    /* .project-box {
        height: 150px;
    }

    .large-project-box {
        height: 50vh;
    } */
}

/* Set your aspect ratio */
.video-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
    margin: auto;
    /* creates a 16:9 aspect ratio */
}

.video-container iframe,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 8px;
}

/* And set the max-width of the parent element */
.video-wrap {
    padding: 20px 0;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.text-label {
    text-align: center;
    color: var(--text-light);
}

.home-nav {
    width: 100%;
    text-align: right;
    margin: 0;
}