@font-face {
    font-family: "roboto";
    src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "roboto-bold";
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "yesevaOne";
    src: url(assets/fonts/YesevaOne-Regular.ttf);
}

body {
    font-family: "roboto";
    color: #fff;
    background-color: black;

    width: 100vw;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: "yesevaOne";
}

h2 {
    margin-top: 75px;
    margin-bottom: 15px;
    font-size: 3em;
}

b {
    font-family: "roboto-bold";
}

p.body {
    text-indent: 50px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

/* unvisited link */
a:link {
    color: #ff2b3d;
    /* color: rgb(0, 200, 0); */
}

/* visited link */
a:visited {
    color: #c01f2c;
    /* color: rgb(0, 150, 0); */
}

/* mouse over link */
a:hover {
    color: #fe5d6a;
    /* color: rgb(0, 255, 0); */
}

/* selected link */
a:active {
    color: #ff2b3d;
    /* color: rgb(240, 240, 240); */
}

/* dark link */
a.link-dark:link {
    color: #c01f2c;
    /* color: rgb(0, 100, 0); */
}

a.link-dark:visited {
    color: #ee2c3d;
    /* color: rgb(0, 80, 0); */
}

a.link-dark:hover {
    color: #c01f2c;
    /* color: rgb(0, 255, 0); */
}

a.link-dark:active {
    color: #c01f2c;
    /* color: rgb(240, 240, 240); */
}

hr {
    color: white;
}

.landing {
    height: 100vh;
}

.landing-content {
    margin-top: 40vh;
}

.landing-arrow {
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: gray;
}

.projects {
    min-height: 70vh;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 25px;
}

.project-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
}

.project-box {
    min-width: 200px;
    height: 300px;
    border-radius: 20px;
    padding: 15px;
    margin: 5px;
    background-color: #222;
}

.project-box-inner {
    height: 270px;
    border-radius: 15px;
    /* background-attachment: local; */
    /* padding: 15px; */
    /* background-color: #222; */
    background-image: url("/assets/placeholder.png");
    background-size: cover;
}

.project-image {
    /* position: absolute; */
    width: inherit;
    height: inherit;
    left: 0;
    top: 0;
    z-index: -1;
}

.tool-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: white;
    border-radius: 15px;

    margin: 0;
    padding: 0;
}

.tool {
    /* flex-grow: 1; */
    margin: 50px;
    width: 100px;
    height: 100px;
    justify-content: center;

    img {
        width: 100px;
        height: 100px;
        fill: white;
        stroke: white;
    }

    p {
        text-align: center;
        color: black;
        font-family: "roboto-bold";
    }
}

.credits {
    margin-top: 150px;
}

.f1 {
    flex-grow: 1;
}

.f2 {
    flex-grow: 2;
}

.f3 {
    flex-grow: 3;
}

.f5 {
    flex-grow: 5;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.p25 {
    padding: 25px;
}

.color-light {
    color: gray;
}

.color-accent {
    color: #ff2b3d;
}

.background-gradient-light {
    background: #ff5e4f;
    background: linear-gradient(45deg,
            rgba(255, 94, 79, 1) 0%,
            rgba(255, 94, 79, 1) 20%,
            rgba(255, 155, 128, 1) 20%,
            rgba(255, 155, 128, 1) 35%,
            rgba(255, 190, 130, 1) 35%,
            rgba(255, 190, 130, 1) 50%,
            rgba(255, 234, 150, 1) 50%,
            rgba(255, 234, 150, 1) 65%,
            rgba(255, 250, 161, 1) 65%,
            rgba(255, 250, 161, 1) 80%,
            rgba(255, 247, 92, 1) 80%,
            rgba(255, 247, 92, 1) 100%);
    background: -webkit-linear-gradient(45deg,
            rgba(255, 94, 79, 1) 0%,
            rgba(255, 94, 79, 1) 20%,
            rgba(255, 155, 128, 1) 20%,
            rgba(255, 155, 128, 1) 35%,
            rgba(255, 190, 130, 1) 35%,
            rgba(255, 190, 130, 1) 50%,
            rgba(255, 234, 150, 1) 50%,
            rgba(255, 234, 150, 1) 65%,
            rgba(255, 250, 161, 1) 65%,
            rgba(255, 250, 161, 1) 80%,
            rgba(255, 247, 92, 1) 80%,
            rgba(255, 247, 92, 1) 100%);

    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-size: 100%;
}

.background-gradient-dark {
    background: rgb(0, 18, 34);
    background: linear-gradient(45deg,
            rgba(28, 28, 28, 1) 0%,
            rgba(28, 28, 28, 1) 20%,
            rgba(18, 18, 18, 1) 20%,
            rgba(18, 18, 18, 1) 35%,
            rgba(13, 13, 13, 1) 35%,
            rgba(13, 13, 13, 1) 50%,
            rgba(10, 10, 10, 1) 50%,
            rgba(10, 10, 10, 1) 65%,
            rgba(13, 13, 13, 1) 65%,
            rgba(13, 13, 13, 1) 80%,
            rgba(18, 18, 18, 1) 80%,
            rgba(18, 18, 18, 1) 100%);
    background: -webkit-linear-gradient(45deg,
            rgba(28, 28, 28, 1) 0%,
            rgba(28, 28, 28, 1) 20%,
            rgba(18, 18, 18, 1) 20%,
            rgba(18, 18, 18, 1) 35%,
            rgba(13, 13, 13, 1) 35%,
            rgba(13, 13, 13, 1) 50%,
            rgba(10, 10, 10, 1) 50%,
            rgba(10, 10, 10, 1) 65%,
            rgba(13, 13, 13, 1) 65%,
            rgba(13, 13, 13, 1) 80%,
            rgba(18, 18, 18, 1) 80%,
            rgba(18, 18, 18, 1) 100%);

    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-size: 100%;
}

.text-clip {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}